
{% extends "basic.html" %}

{% block custom_dashboard %}

<div class="container-fluid" style ='padding-bottom: 1cm'>
    <div class="col-lg-10 col-lg-offset-1">
        <h2> Test AUC
            <button type="button" class="btn btn-primary btn-xs"
                  onclick="popup_alert('The description')">?</button>
        </h2>
    </div>
  <div class="col-lg-10 col-lg-offset-1" style='text-align: center'>
      {{ alg_list }}
    <div id="plot_accuracy"></div>
  </div>
</div>

<script>

  plot_accuracy = function(data) {
    data['width'] = 800
    data['height'] = 350
    mpld3.draw_figure("plot_accuracy", data)
  }

  $.ajax({
    url: "{{ dashboard_url }}/get_stats",
    type: "POST",
    contentType: "application/json",
    data: JSON.stringify({
        'exp_uid': "{{ exp_uid }}",
        'args':{
            'stat_id' : 'plot_accuracy',
            'params'  : {},
            'force_recompute': 1
            }
        }),
    dataType: "json",
    cache: false
    }).done( function(data,textStatus, jqXHR) {
    delete data['meta']
    plot_accuracy(data)
    }).fail(function(error){
    console.log("Failed to get stats", error);
    });


</script>

{% endblock %}
